.survey {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    background: linear-gradient(to right, violet, blue);
    background-repeat: no-repeat;
    text-align: center;
}

.survey__heading {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: aquamarine;
    text-align: center;
}

.survey__label {
    font-weight: 700;
    letter-spacing: 0.5px;
}

.survey__label--nickname {
    color: aquamarine;
    text-transform: uppercase;
}

.survey__label--map {
    font-size: 1.2rem;
}

.survey__input {
    font-size: 1rem;
    color: black;
}
.survey__radio--group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.survey__option {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}   

.survey__select {
    font-size: 1rem;
    color: cornflowerblue;
    gap: 10px ;
}

.survey__submit {
    font-size: 1rem;
    text-transform: capitalize;
    color: cornflowerblue;
    background: linear-gradient(to right, blueviolet, blue);
    display: block;
    width: 300px;
    margin: auto;
}

.survey__back-link {
    color: aquamarine;
    text-decoration: none;
}

.survey__back-link:hover {
    text-decoration: underline;
}